.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 37, 41, 0.5);
    display: flex;
    align-items: baseline;
    padding-top: 15%;
    justify-content: center;
    -webkit-transition: all .3s ease,top .2s ease-out;
    -moz-transition: all .3s ease,top .2s ease-out;
    transition: all .3s ease,top .2s ease-out;
}

.modal-wrapper.hidden{
    top: -100%;
    padding-top: 0;
}

.modal {
    margin-top: 0;
    background: var(--whiteFixed);
    border-radius: 8px;
    padding: 40px 24px;
    max-width: 45%;
    width: 100%;
}

@media (max-width: 769px){
    .modal {
        max-width: 80%;
    }
}

.modal-header {
    position: relative;
}

.modal-close {
    width: 40px;
    height: 40px;
    border-color: transparent;
    background: var(--grey5);
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
    font-weight: bold;
    -webkit-transition: all .3s ease,top .2s ease-out;
    -moz-transition: all .3s ease,top .2s ease-out;
    transition: all .3s ease,top .2s ease-out;
    position: absolute;
    right: 0;
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--brand1);
    color: var(--whiteFixed);
}